@import '../estilos/variables';

form{
  display: flex;
  width: inherit;
  justify-content: space-between;
  background-color: $negro10;
  border-radius: 4px;
  padding: 8px;
}

#input-tarea{
  margin-right: 1%;
  border: none;
  background-color: $transparente;

  &:focus{
    outline: none;
  }
}

button{
  width: 48px;
  height: 48px;
  border: 1px solid $negro;
  border-radius: 4px;
  padding: 8px;
  background-color: $transparente;
  transition: 0.7s;
  cursor: pointer;

  &:hover{
    background-color: $negro10;
    transition: 0.7s;
  }
}

