form{
  display: flex;
  width: 20%;
  justify-content: center;
  padding-left: 0.5%;
}

#input-tarea{
  margin-right: 1%;
  padding: 1.5%;
  width: 100%;
}

button{
  margin-left: 1%;
  padding: 1.5%;
}
