@import '../app/estilos/variables';

.contenedor{
  display: flex;
  font-family: $font;
  flex-direction: column;
  width: 640px;
  margin: auto;

  > app-input-tarea{
    display: flex;
    width: inherit;
    position: -webkit-sticky;
    position: sticky;
    top: 24px;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
  }

  > app-lista-tareas{
    display: flex;
    width: inherit;
  }

  > app-header{
    display: flex;
    justify-content: space-between;
    width: inherit;
  }

  > hr{
    border: 2px solid $negro10;
    width: inherit;
  }
}

@media screen and (max-width: 576px) {

  .contenedor{
    width: 100%;
  }

  h1{
    font-size: 28px;
  }

}
